.MidSectionContainer {
    max-width: 1200px;
    margin: 0 auto; 
    padding: 20px; 
}
.MidSectionInfo{
    padding-bottom: 20px;
    align-items: center;
    display: flex;
}

.MidSectionInfo button{
    padding: 15px;
    border-radius: 15px;
}

.MidSectionInfo i {
    color: gray;
}

.bookList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    padding: 0;
    list-style: none;
}

