:root {
  --Vermilion: #e7473c;
  --Orange: #ffab00;
  --ChilliRed: #dd2e18;
  --Black: #000000;
  --flashWhite: #f0f0f0;
  --Dark-Blue: #34495E;
}

* {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1200px; 
  margin: 0 auto; 
}

body {
  background-color: var(--flashWhite);
}

/* Layout for books so i dont have to repeat code for each one  */
.bookList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
  padding: 0;
  list-style: none;
}

